* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(/assets/background\ image.webp);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100%;
}

.logo {
  /* margin-left: -40px; */
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: center;
  /* margin-top: -120px; */
}

.form {
  margin-top: -60px;
  width: 470px;
  height: 640px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  padding: 0 20px;
  color: #ffffff;
}

h1 {
  /* margin-left: 80px; */
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
  font-weight: bold;
  color: rgba(236, 187, 43, 0.5);
}

.input-feild {
  margin-bottom: 10px;
  height: 45px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border-style: none;
  padding-left: 15px;
}

.state {
  height: 45px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.text-size {
  font-size: 18px;
}

.submit-button {
  height: 50px;
  width: 100%;
  background-color: rgba(236, 187, 43, 0.5);
  border-radius: 10px;
  border-style: none;
  margin-bottom: 10px;
  color: black;
  margin-top: 25px;
  font-weight: 800;
  font-size: 19px;
}

.footer {
  margin-left: 70px;
}

.login {
  color: rgba(236, 187, 43, 0.5);
}
